<div class="row">
  <div class="calculator col-md-5 mx-auto">
    <app-display [expression]="expression" [value]="value"></app-display>
    <app-control-panel [anyHistory]="history.length > 0"
        (onToggleHistory)="onToggleHistory($event)"></app-control-panel>
    <app-keypad 
      (onDigit)="onDigit($event)" 
      (onAdd)="onAdd($event)"
      (onSubtract)="onSubtract($event)"
      (onMultiply)="onMultiply($event)"
      (onDivide)="onDivide($event)"
      (onDecimalPoint)="onDecimalPoint($event)"
      (onEquals)="onEquals($event)"
      (onClear)="onClear($event)"
      (onClearAll)="onClearAll($event)"
      (onDelete)="onDelete($event)"
      (onToggleSign)="onToggleSign($event)"></app-keypad>
  </div>
</div>